.banner {
    background-color: rgb(43, 43, 43);
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0 2em 0;
}

.banner-content {
    color: white;
}

@media (max-width: 768px) {
    .banner {
        height: 50vh;
    }
}